---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <section class="w-full dark:bg-slate-950 pb-12">
    <div class="md:px-16 px-4 py-8 w-full flex flex-col">
      <header class="w-full flex justify-center">
        <h2
          class="md:text-[4rem] text-[3rem] dark:text-white text-center w-fit border-b-4 border-purple-400"
        >
          Mi blog
        </h2>
      </header>
      <div class="flex flex-col items-center font-bold mt-8 justify-center">
        <img
          class="rounded-lg"
          src="https://media.istockphoto.com/id/1328767303/fi/vektori/huutava-ja-%C3%A4rsyyntynyt-liikemieshahmo-monitorin-takana-olevalla-p%C3%B6yd%C3%A4ll%C3%A4-vektorikuva.jpg?s=612x612&w=0&k=20&c=uEb9ysArZWaF4C42JcpsNop1uEnC-RytG7_JEZO5IXM="
          alt=""
        />
        <h1 class="dark:text-white text-3xl mt-12">
          Lo sentimos aún estamos trabajando en esta seccion
        </h1>
        <h2 class="dark:text-slate-400 text-xl mt-4">
          Muy pronto lo tendremos disponible ✨
        </h2>
      </div>
    </div>
  </section>
</Layout>
