<section class="w-full">
  <div class="px-14 py-8 w-full flex flex-row">
    <div class="">
      <h3 class="text-3xl dark:text-white text-slate-700">
        Hola, soy Hans Melchor
      </h3>
      <h1
        class="font-extrabold text-[6rem] bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
      >
        Full Stack Developer
      </h1>
      <p class="text-xl dark:text-slate-400 text-slate-700">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim provident
        quidem consectetur vel minima quasi sed incit, quasi porro.
      </p>
      <div class="flex flex-row gap-4 mt-8 items-center opacity-55">
        <span class="dark:text-white">Redes sociales:</span>
        <a href="">
          <img
            class="dark:invert"
            width="24"
            height="24"
            src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png"
            alt=""
          />
        </a>
        <a href="">
          <img
            class="dark:invert"
            width="24"
            height="24"
            src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
            alt=""
          />
        </a>
        <a href="">
          <img
            class="dark:invert"
            width="24"
            height="24"
            src="https://cdn-icons-png.flaticon.com/512/60/60543.png"
            alt=""
          />
        </a>
      </div>
      <div class="mt-8">
        <button class="px-4 py-2 bg-purple-600 rounded-md text-white"
          >Soliting</button
        >
        <button
          class="px-4 py-2 border border-purple-600 rounded-md dark:text-white"
          >Download cv</button
        >
      </div>
    </div>
  </div>
</section>

<style></style>
