<section class="w-full">
  <div class="md:px-16 px-6 py-8 w-full flex flex-col pb-60">
    <header class="w-full flex justify-center">
      <h2
        class="md:text-[4rem] text-[3rem] dark:text-white text-center w-fit border-b-4 border-purple-400"
      >
        Experiencia laboral
      </h2>
    </header>
    <main class="flex flex-col mt-12 md:px-24 px-4 md:gap-4 gap-8">
      <div class="flex gap-8 flex-row">
        <!-- timeline -->
        <div
          class="xl:flex hidden min-w-32 flex-col gap-1 items-center text-center justify-center pt-4"
        >
          <span class="dark:text-slate-400 font-extralight">Mayo - 2022</span>
          <div class="w-8 h-8 rounded-full bg-purple-400"></div>
          <span class="dark:text-slate-400 font-extralight"
            >Setiembre - 2023</span
          >
        </div>
        <!-- !end timeline -->
        <!-- info -->
        <div
          class="w-full flex flex-row items-center dark:text-white rounded-md py-2 px-8 border-l-2 border-purple-400"
        >
          <div class="flex flex-col">
            <h2 class="text-2xl dark:text-sky-500 font-extralight">
              Desarrollador de software
            </h2>
            <span class="dark:text-white text-lg mt-2"
              >Academia preuniversitaria</span
            >
            <div class="mt-2 w-full">
              <ul
                class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-lg"
              >
                <li>
                  Diseño, desarrollo e implementación de una intranet como
                  herramienta integral para gestionar alumnos, realizar
                  seguimientos académicos y optimizar nuestros resultados
                  educativos.
                </li>
                <li>
                  Implementación de nuevas tecnologías para potenciar la
                  optimización de la plataforma educativa, elevando la
                  eficiencia y la experiencia del usuario.
                </li>
                <li>
                  Mentoría enfocada en tecnologías web y estrategias de
                  digitalización 2022, capacitando con conocimientos actuales y
                  enfoques disruptivos en el ámbito digital
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- !end info -->
      </div>
      <!-- iterables -->
      <div
        class="xl:flex hidden flex-col gap-2 opacity-55 w-32 justify-center items-center mb-4 mt-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-4 w-4 text-purple-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
            d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
        </svg>
        <span class="w-1 h-5 bg-purple-600 rounded-md"></span>
        <span class="w-1 h-5 bg-purple-600 rounded-md"></span>
        <span class="w-1 h-5 bg-purple-600 rounded-md"></span>
        <span class="w-1 h-5 bg-purple-600 rounded-md"></span>
      </div>
      <!-- !iterables -->
      <div class="flex gap-8 flex-row">
        <!-- timeline -->
        <div
          class="xl:flex hidden min-w-32 flex-col gap-1 items-center text-center justify-center"
        >
          <span class="dark:text-slate-400 font-extralight">Marzo - 2022</span>
          <div class="w-8 h-8 rounded-full bg-purple-500"></div>
          <span class="dark:text-slate-400 font-extralight">Abril - 2022</span>
        </div>
        <!-- !end timeline -->
        <!-- info -->
        <div
          class="w-full flex flex-row justify-between items-center dark:text-white rounded-md py-2 px-8 border-l-2 border-purple-400"
        >
          <div class="flex flex-col">
            <h2 class="text-2xl dark:text-sky-500 font-extralight">
              Docente de programación
            </h2>
            <span class="dark:text-white text-lg mt-2">INAPASIS SA</span>
            <div class="mt-2">
              <ul
                class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-lg"
              >
                <li>
                  Curso intensivo de PHP para el desarrollo de aplicaciones
                  nativas, con un enfoque especial en el uso de Ajax para
                  interacción del usuario y la eficiencia de las aplicaciones.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- !end info -->
      </div>
      <!-- iterables -->
      <div
        class="xl:flex hidden flex-col gap-2 opacity-55 w-32 justify-center items-center mb-4 mt-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-4 w-4 text-purple-600"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="8"
            d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
        </svg>
        <span class="w-1 h-5 bg-purple-600 rounded-md"></span>
        <span class="w-1 h-5 bg-purple-600 rounded-md"></span>
        <span class="w-1 h-5 bg-purple-600 rounded-md"></span>
        <span class="w-1 h-5 bg-purple-600 rounded-md"></span>
      </div>
      <!-- !iterables -->
      <div class="flex gap-8 flex-row">
        <!-- timeline -->
        <div
          class="xl:flex hidden min-w-32 flex-col gap-1 items-center text-center justify-center"
        >
          <span class="dark:text-slate-400 font-extralight"
            >Noviembre - 2021</span
          >
          <div class="w-8 h-8 rounded-full bg-purple-600"></div>
          <span class="dark:text-slate-400 font-extralight">Abril - 2022</span>
        </div>
        <!-- !end timeline -->
        <!-- info -->
        <div
          class="w-full flex flex-row justify-between items-center dark:text-white rounded-md py-2 px-8 border-l-2 border-purple-400"
        >
          <div class="flex flex-col">
            <h2 class="text-2xl dark:text-sky-500 font-extralight">
              Asistente biomedico
            </h2>
            <span class="dark:text-white text-lg mt-2"
              >Hospital General de Jaén</span
            >
            <div class="mt-2">
              <ul
                class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-lg"
              >
                <li>
                  Gestión de informes físicos y digitales controlando la
                  veracidad y presición de la misma.
                </li>
                <li>
                  Verificación de ordenes de trabajo y actividades realizadas
                  verificando y garantizando la exactitud y coherencia.
                </li>
                <li>
                  Desarrollo de aplicaciones web para gestiones internas
                  identificando oportunidades de mejora y proponiendo soluciones
                  tecnológicas que agilicen los flujos de trabajo.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- !end info -->
      </div>
    </main>
  </div>
</section>
