<header
  class="w-full px-12 py-4 dark:text-white text-black border-b-2 border-slate-600"
>
  <nav class="flex flex-row justify-between items-center">
    <a href="/">Hans.dev</a>

    <div class="flex gap-8 items-center">
      <a href="/experience">Experiencia</a>
      <a class="px-4 py-2 bg-purple-600 rounded-md" href="/contact"
        >Contáctame</a
      >
    </div>
  </nav>
</header>


