<section class="w-full dark:bg-slate-950 pb-12">
  <div class="md:px-16 px-8 py-8 w-full flex flex-col">
    <header class="w-full flex justify-center">
      <h2
        class="md:text-[4rem] text-[3rem] dark:text-white text-center w-fit border-b-4 border-purple-400"
      >
        Mis servicios
      </h2>
    </header>
    <div class="flex flex-row items-center font-bold mt-8">
      <div class="flex flex-col font-extralight items-center">
        <div class="w-full md:px-16 px-4 text-center">
          <p class="dark:text-white">
            Mi carrera ha sido un viaje de aprendizaje constante, donde he
            practicado y adquirido experiencia, ofrezco servicios digitales que
            representan mi compromiso con la mejora continua y la excelencia en
            el desarrollo web.
          </p>
        </div>
        <div class="flex gap-8 xl:flex-row flex-col items-center mt-8 w-full">
          <div
            class="rounded-md overflow-hidden md:min-w-[25rem] max-w-[15rem]"
          >
            <img
              class=""
              src="https://img.freepik.com/vector-gratis/concepto-ingeniero-control-calidad-simbolos-programacion-software-ilustracion-vectorial-plana_1284-78160.jpg"
              alt=""
            />
          </div>
          <!-- md:pl-16 -->
          <div
            class="flex flex-wrap gap-4 items-center md:mt-0 mt-8 justify-center"
          >
            <div class="flex flex-col w-[18rem]">
              <div class="bg-orange-400 p-2 rounded-md w-fit">
                <img
                  width="36"
                  src="https://cdn-icons-png.flaticon.com/512/2721/2721609.png"
                  alt=""
                />
              </div>
              <h3 class="dark:text-white">Frontend</h3>
              <p class="dark:text-slate-600">
                Diseño y desarrollo de interfaces intuitivas y atractivas para
                sitios web y aplicaciones, utilizando tecnologías como HTML, CSS
                y JavaScript.
              </p>
            </div>

            <div class="flex flex-col w-[18rem]">
              <div class="bg-sky-600 p-2 rounded-md w-fit">
                <img
                  width="36"
                  src="https://static.thenounproject.com/png/3905512-200.png"
                  alt=""
                />
              </div>
              <h3 class="dark:text-white">Backend</h3>
              <p class="dark:text-slate-600">
                Creación de sólidas estructuras de servidor y gestión de bases
                de datos para garantizar un funcionamiento eficiente y seguro de
                las aplicaciones web.
              </p>
            </div>

            <div class="flex flex-col w-[18rem]">
              <div class="bg-purple-600 p-2 rounded-md w-fit">
                <img
                  width="36"
                  src="https://cdn-icons-png.flaticon.com/512/3159/3159310.png"
                  alt=""
                />
              </div>
              <h3 class="dark:text-white">Diseño web</h3>
              <p class="dark:text-slate-600">
                Transformo ideas creativas en experiencias visuales para sitios
                web, priorizando la estética y la usabilidad para dar vida a
                proyectos digitales atractivos.
              </p>
            </div>

            <div class="flex flex-col w-[18rem]">
              <div class="bg-green-600 p-2 rounded-md w-fit">
                <img
                  width="36"
                  src="https://cdn-icons-png.flaticon.com/512/5738/5738077.png"
                  alt=""
                />
              </div>
              <h3 class="dark:text-white">Desarrollo móvil</h3>
              <p class="dark:text-slate-600">
                Desarrollo de aplicaciones móviles para llevar la funcionalidad
                a dispositivos, enfocándome en soluciones prácticas y accesibles
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
